<div>
    {{#each news}}
    <div class="ui items">
        <div class="item">
            <div class="image">
                <img src={{img}}>
            </div>
            <div class="content">
                <a class="header" href={{link}} target="_blank">{{title}}</a>
                <div class="description">
                    <p>{{desc}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {{/each}}
</div>